{%extends "base.html"%}
{%load static%}
{%block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>TRACK MY HEALTH</title>
    <link rel="stylesheet" href="/soop/static/css/style.css" type="text/css">
</head>
<body>
 

    <div class="total-boxs">
        <div class="boxa">
        <h2>Patients</h2>
        <p>To add the patient's report</p>
        <div>
            <a href="details">
          <button class="button1">
            Click Here
        </button></a>

        </div>
        </div>
    
        <div class="boxb">
            <h2>Admin</h2>
            <p>To view the patient's report</p>
            <div>
                <a href="home">
              <button class="button1">
                Click Here
            </button></a>
            </div>
            </div>
            </div>
    
    
</body>
</html>

{%endblock%}